name: Python application

on:
  push:
   branches: [ main ]
  pull_request:
    branches: [ main ]
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build & Push Image
      run: |
        echo "Aa1234567" | docker login -u "hoshen12" 
        docker image build -t hoshen12/maor:python .
        docker push hoshen12/maor:python
